/*Reset para margenes y rellenos*/
*{
    margin: 0;
    padding: 0;
}
/*Estilo para el body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;/*Hace que el body ocupe toda la altura de la ventana*/

}

/*Header como unidades en y rem*/
header {
    background-color: #4CAF50;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
    font-size: 1.5em; /*El tama単o de la fuente se adapta al tama単o del contenedor*/
}

/*Section con unidades de porcentaje (%) y vh (altura de la ventana)*/

section {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    height: 50vh;/*50% de la altura de la ventana */

}

/*Articulos con unidades em*/
article {
    background-color: #fff;
    width: 40%;
    padding: 1em;/*Basado en el tama単o de la fuente*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

/*Imagen como unidades vh (altura de la ventana) y vh (ancho de la venta)*/

img {
    width: 20vh;
    height: auto;
    border-radius: 10px;
    
}

img:hover {
    width: 80vh;
    height: 50vh;
}
/*footer con unidades rem*/

footer {
    background-color: #333;
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;/*Basadoo en el tama単o de la fuente raiz*/
    margin-top: auto;
}








