*{

    margin: 2px;
    padding: 2px;
}


#main-header {
    background-color: blue;
    text-align: center;
}


#main-header {
    text-align: center;
    background-color: rgb(13, 50, 87);
    color: blue;
    line-height: 1.8;
    padding: 6px;
    

}

#main-header p {
    color: aliceblue;
    line-height: 1.8;
}

.destacado {
    color: red;
    line-height: 1.8;

}

a {
    color: blueviolet;
}

.enlace-btn {
    background-color: rgb(29, 199, 16);
    color: aliceblue;
    margin: 4px;
    padding: 4px;

    background-color: rgb(11, 176, 33);
    color: rgb(255, 255, 255);
    margin: 3px;
    padding: 4px;
    border-radius: 10%;
    line-height: 2.5;
}

.enlace-btn:hover {
    color: brown;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #8c8c8c;
    color: white;
    text-align: center;
    padding: 10px;
}

#footer:hover{
    background-color: rgb(118, 120, 120);
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #8c8a8a;
    color: white;
    text-align: center;
    padding: 10px;
   
}