*{
    margin: 3px;
    padding: 3px;
}

h1{
    text-align: center;
}

h2 .titulo-enlace {
    color:  orange; 

}
*{
    margin: 3px;
    padding: 2px;
    
}
/*modifcando el titulo*/
h1 {
    text-align: center;
    padding: 10px;
    line-height: 1.8;
}

h1 .p {
    line-height: 1.8;
}
/**/
h2 .titulo-enlace {
    color: chocolate;
    line-height: 1.8;
    font-style: italic;
}

#seccion1 {
    background-color: rgb(180, 176, 176);
    padding: 10px;
    line-height: 1.8;
    
}

#seccion1 a {
    color: orange;
}

#seccion1 a {
    color: red;
   
}


h3 .titulo-enlace {
    color: blueviolet;
    line-height: 1.8;
}


#seccion2 {
    background-color: pink;
    padding: 10px;
    line-height: 1.8;

}

#seccion2 a {
    color: blueviolet;
}